<div class="container">
    <div class="empty-topic">
        <h5>Assunto da pergunta aparece aqui</h5>
        <p class="name">Carlos Henrique Santos</p>
        <p class="comment-content">
            Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...
        </p>
        <div class="replys">
            <img src="../../assets/icons/dots-three-outline-vertical-fill.svg" id="points"/>
            <div id="heart">
                <img src="../../assets/icons/heart-straight-fill.svg"/>
            </div>
            <p>1 like</p>
            <p>0 resposta</p>
        </div>
    </div>
    <div class="answered-topic">
        <div class="answered-topic-content">
            <a class="ops-topic-subject">Assunto da pergunta aparece aqui</a>
            <p class="name">Carlos Henrique Santos</p>
            <p class="comment-content">
                Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...
            </p>
            <div class="replys">
                <img src="../../assets/icons/dots-three-outline-vertical-fill.svg" id="points"/>
                <div id="heart">
                    <img src="../../assets/icons/heart-straight-fill.svg"/>
                </div>
                <p>5 like</p>
                <p>4 resposta</p>
            </div>
        </div>
    </div>



    <div class="answered-topic">
        <div class="topic">
            <h5 class="ops-topic-subject">Assunto da pergunta aparece aqui</h5>
            <p class="name">Carlos Henrique Santos</p>
            <p class="comment-content">
                Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...
            </p>
            <div class="replys">
                <img src="../../assets/icons/dots-three-outline-vertical-fill.svg" id="points"/>
                <div id="heart">
                    <img src="../../assets/icons/heart-straight-fill.svg"/>
                </div>
                <p>5 like</p>
                <p>4 resposta</p>
            </div>
        </div>
    </div>
</div>
