<div class="discussoes-content">
    <div class="criar-topico">
        <h5>
        Compartilhe suas ideias ou dúvidas com os autores!
        </h5>

        <div id="topico-imgs">
            <img src="../assets/icons/icone1.svg"/>
            <img src="../assets/icons/icone2.svg"/>
            <img src="../assets/icons/icone3.svg"/>
        </div>

            <p>
            Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos ou sugestões para o autor!
            </p>

            <button class="btn-create-topic">
                <img src="../../assets/icons/plus-bold.svg"/>
            </button>

        </div>
</div>