:root{
    --orange: #ED7839;    
    --grey: #E7E7E7;    
    --grey-100: #CCC4C4;
    --grey-300: #5C5C5C;
    --grey-700: #4E4E4E;
    --beige: #FDF1EB;    
    --white: #FFFFFF;

    --orange-gradient: linear-gradient(#FFB354, #EE7A3A);
}

*{       
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h5{
    color: var(--orange);
    font-size: 1rem;
  }

  p{
    color: var(--grey-300);
  }

  strong{
    color: var(--grey-300);
  }
  
  .empty-topic{   
    padding: 0.5rem;
  }
  .answered-topic,
  .empty-topic{
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 4px;
      box-shadow: 1px 3px 5px 4px rgba(0,0,0,0.19);
  
          p{
              font-size: 0.75rem;
          }
  }